<div class="row">
<!-- useritem-->
    <div class="col-lg-9">
        <input type="text" id="SearchText" class="form-control " />
    </div>
            <div class="col-lg-3">
                <button type="submit" class="form-control width60 fl" onclick="SearchAdmin('{ContentType}');return false;">
                    <i class='fa fa-search' aria-hidden='true'></i>
                </button>
                <button type="submit" class="form-control width60 fl" onclick="ClearSearchAdmin('{ContentType}');return false;">
                    <i class='fa fa-times' aria-hidden='true'></i>
                </button>
                
                
            
    </div>
</div>