<!--{if $NormalPage}-->
<!DOCTYPE html>

<html>
    <head>
        <title><!--{$word887}--></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--{foreach from=$styles key=keyout item=itemout}-->
            <link rel="stylesheet" type="text/css" href="<!--{$itemout}-->?version={VERSION}" >
         <!--{/foreach}-->
              <link rel="stylesheet" type="text/css" href="/node_modules/jquery-datetimepicker/jquery.datetimepicker.css" >
         <link rel="stylesheet" type="text/css" href="/node_modules/jquery-treegrid/css/jquery.treegrid.css" >
        <link  href="/node_modules/bootstrap/dist/css/bootstrap.min.css?version={VERSION}" rel="stylesheet">
        <link href="/node_modules/metismenu/dist/metisMenu.min.css" rel="stylesheet">
        <!-- Timeline CSS -->
        <link href="/Styles/Admin/timeline.css?version={VERSION}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="/Styles/Admin/sb-admin-2.css?version={VERSION}" rel="stylesheet">
        <link href="/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link  href="/node_modules/jstree/dist/themes/default/style.min.css"  rel="stylesheet" type="text/css">
        

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery.cookie/jquery.cookie.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/node_modules/metismenu/dist/metisMenu.min.js"></script>
    <script type="text/javascript" src="/node_modules/jquery-treegrid/js/jquery.treegrid.js"></script>
    <script type="text/javascript" src="/node_modules/php-date-formatter/js/php-date-formatter.min.js"></script>
    <script type="text/javascript" src="/node_modules/jquery-datetimepicker/jquery.datetimepicker.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="/Scripts/sb-admin-2.js?version={VERSION}"></script>
    <script type="text/javascript" src="/Scripts/Core.js?version={VERSION}" ></script>
    
    <script type="text/javascript" src="/Scripts/jquery.doubletap.js?version={VERSION}" ></script>
    
         <!--{foreach from=$scripts key=keyout item=itemout}-->
            <script type="text/javascript" src="<!--{$itemout}-->?version={VERSION}" ></script>
         <!--{/foreach}-->
         
         <script type="text/javascript">
             setInterval(function(){
                 var isLogged = CallPhpFunctionAjax("Templates","IsLoginUser","POST",null);
                 if (isLogged == "1" || isLogged == 1)
                 {
                     
                 }
                 else 
                 {
                     Refresh();
                 }
             },600000);
             </script>
             <!--{if $ExitQuestion}-->
             <script type="text/javascript">
                 var ignoreExitQuestion = false;
                 window.onbeforeunload = function (e) {
                 if (!ignoreExitQuestion)   
                 {
                var message = "",
                e = e || window.event;
                // For IE and Firefox
                  if (e) {
                    e.returnValue = message;
                }
                // For Safari
                return message;
            }
                };
                 </script>
                 <!--{/if}-->
                 <headerScript/>
        
    </head>
    <body>
        <div id="loadingPanel" class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <img src="/Images/loading.gif" />
                </div>
            </div>
        </div>
        <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                 
                <a class="navbar-brand"><!--{$word70}--></a>
                <span class="navbar-brand"> </span>
                
                    <div class="navbar-brand">
                    <select id="userLang" class="form-control langSelectTop">
                        <!--{section name=data loop=$AdminLang}-->
                            <option value="<!--{$AdminLang[data].LangIdentificator}-->" <!--{$AdminLang[data].selected}-->><!--{$AdminLang[data].LangName}--></option>
                            <!--{/section}--> 
                    </select>
                    </div>
                
                
            </div>
            <!-- /.navbar-header -->

             
            <!-- /.navbar-top-links -->

            
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <!--{if $CanShowState}-->
            <div class="row page-header">
                <div class="col-lg-11 ">
                    <h1><!--{$stateTitle}--> </h1>
                </div>
                
                <!-- /.col-lg-12 -->
            </div>
            
            
            <form id="mainForm" name="mainForm" enctype="multipart/form-data" method="post" action="">
                
                <input type="hidden" id="phpFunction" name="phpFunction" />
                <input type="hidden" id="WebId" value="<!--{$webId}-->"/>
                <input type="hidden" id="LangId" value="<!--{$langId}-->"/>
                <input type="hidden" id="ObjectId" value="<!--{$objectId}-->"/>
                <input type="hidden" id="ParentId" value="<!--{$parentid}-->"/>
                <input type="hidden" id="IsFrontEnd" value="<!--{$isFrontEnd}-->"/>
                <!--{include file=$stateName}-->
            </form>
            <!--{else}-->
                        <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"><!--{$word196}--></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            
            <form id="mainForm" name="mainForm" enctype="multipart/form-data" method="post" action="">
                <input type="hidden" id="phpFunction" name="phpFunction" />
                <input type="hidden" id="WebId" value="<!--{$webId}-->"/>
                <input type="hidden" id="LangId" value="<!--{$langId}-->"/>
                <input type="hidden" id="ObjectId" value="<!--{$objectId}-->"/>
                <input type="hidden" id="ParentId" value="<!--{$parentid}-->"/>
                <!--{$word197}-->
            </form>
            <!--{/if}-->
            
            
            
            
        </div>
        <!-- /#page-wrapper -->

    </div>
        
        
        
        
        
        
        
	
	
	
	 
	 
        
        
        
        
        
    </body>
</html>
<!--{/if}-->
