<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><!--{$word17}--> </h4>
      </div>
        
    
<div class="modal-body">
           <ul class="nav nav-tabs">
               <li class="active"> <a href="#tab-1" data-toggle="tab" aria-expanded="true"><!--{$word18}--></a></li>
                
            </ul>
<div class="tabs tab-content">
            <div id="tab-1" class="tab-pane fade active in">
                <div id="itemForm" class="form-horizontal" role="form">
                    <br />
                    <input type="hidden" name="Id" Id="Id" />
                    <div class="form-group"><label for="LangName" class="control-label col-sm-4"><!--{$word20}--></label>
                        <div class="col-sm-8">
                    <input type="text" id="LangName" name="LangName" class="required form-control"/></div>
                    </div>
                    <div class="form-group"><label for="RootUrl" class="control-label col-sm-4"><!--{$word21}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="RootUrl" name="RootUrl" class="required form-control"/></div>
                    </div>
                    
                    <div class="form-group"><label for="Title" class="control-label col-sm-4"><!--{$word278}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="Title" name="Title" class="form-control" /></div>
                    </div>

                    <div class="form-group"><label for="Keywords" class="control-label col-sm-4"><!--{$word279}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="Keywords" name="Keywords"  class="form-control" /></div>
                    </div>
                    <div class="form-group"><label for="Description" class="control-label col-sm-4"><!--{$word280}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="Description" name="Description" class="form-control"  /></div>
                    </div>
                    <div class="form-group"><label for="CategoryPage" class="control-label col-sm-4"><!--{$word281}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="CategoryPage" name="CategoryPage"  class="form-control" /></div>
                    </div>
                    <div class="form-group"><label for="LangIdentificator" class="control-label col-sm-4"><!--{$word503}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="LangIdentificator" name="LangIdentificator"  class="form-control" /></div>
                    </div>
                    
                    
                    
                    
                    
                    
                    </div>
                    </div>    
                    
                    
                
            </div>
            
        </div>
        
    



    
        
 