
<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><!--{$word191}--> </h4>
      </div>

<div class="modal-body">
        
                       <ul class="nav nav-tabs">

                <li class="active" data-toggle="tab" aria-expanded="true"> <a href="#tab-1"><!--{$word194}--></a></li>
                
            </ul>
<div class="tabs tab-content">
            <div id="tab-1" class="tab-pane fade active in">
                <div id="itemForm" class="form-horizontal" role="form">
                    <input type="hidden" name="Id" Id="Id" />
                    <br />
                    
                    <div class="form-group"><label for="DomainName" class="control-label col-sm-4"><!--{$word192}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="DomainName" name="DomainName" class="required form-control"/></div>
                    </div>
                    
                    <div class="form-group"><label for="DomainIdentificator" class="control-label col-sm-4"><!--{$word193}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="DomainIdentificator" name="DomainIdentificator" class="required form-control"/></div>
                    </div>
                    <div class="form-group"><label for="ShowNameInSubDomain" class="control-label col-sm-4"><!--{$word635}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="ShowNameInSubDomain" name="ShowNameInSubDomain" class="form-control"/></div>
                    </div>
                    
                    
                    <div class="form-group"><label for="EditValue" class="control-label col-sm-4"><!--{$word346}--></label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="EditValue" name="EditValue" /></div>
                    </div>
                    <div class="form-group">
                    <label for="ConnectedWord" class="control-label col-sm-4"><!--{$word161}--></label>
                    <div class="col-sm-8">
                        <select id="ConnectedWord" class="noDatabase form-control">
                            <option value=""><!--{$word162}--></option>
                            <!--{section name=data loop=$WordList}-->
                                <option value="<&#33;--{$<!--{$WordList[data].GroupName}-->}-->"><!--{$WordList[data].ShowLang}--></option>
                            <!--{/section}--> 
                        </select>
                    </div>
                    </div>
                    <!--{if $IsSystem}-->
                    <div class="form-group"><label for="IsSystem" class="control-label col-sm-4"><!--{$word347}--> </label>
                        <div class="col-sm-8">
                        <input type="checkbox" id="IsSystem" name="IsSystem" /></div>
                    </div>
                    <!--{/if}-->
                    
                    </div>
                    
                
            </div>
            
        </div>
        
    </div>
