<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel"><!--{$word26}--> </h4>
</div>

<div class="modal-body">
    <ul class="nav nav-tabs">
                <li class="active"  data-toggle="tab" aria-expanded="true"> <a href="#tab-1"><!--{$word27}--></a></li>
                
            </ul>
        <div class="tabs tab-content">
            
            <div id="tab-1" class="tab-pane fade active in">
                <br />
                <div id="itemForm" class="form-horizontal" role="form">
                    <input type="hidden" name="Id" Id="Id" />
                    <div class="form-group"><label for="WebName" class="control-label col-sm-4"><!--{$word28}--></label>
                        <div class="col-sm-8">
                        <input type="text" id="GroupName" name="WebName" class="required form-control"/></div>
                    </div>
                    
                    <!--{section name=data loop=$AdminForm}-->
                    <div class="form-group"><label for="Word<!--{$AdminForm[data].LangIdentificator}-->" class="control-label col-sm-4"><!--{$AdminForm[data].LangName}--></label>
                        <div class="col-sm-8"><input type="text" id="Word<!--{$AdminForm[data].LangIdentificator}-->" name="Word<!--{$AdminForm[data].LangIdentificator}-->"  class="form-control"/></div>
                    </div>
        
        <!--{/section}--> 
                </div>
                    
                
                
            </div>
            
        </div>
</div>