<div class="dn">
    
        
    <div id="ExportDialog" title="<!--{$word29}-->">
        <div class="exportTabs">
            <ul>
                <li> <a href="#tab-1"><!--{$word30}--></a></li>
                
            </ul>
            <div id="tab-1" >
                <div id="ExportTabs" class="adminForm">
                    
                    <span><label for="ExportTypeXml"><!--{$word31}--></label></span>
                    <span><input type="radio" id="ExportTypeXml" name="ExportType" class="ExportType" value="xml"/></span>
                    <span><label for="ExportTypeXLS"><!--{$word32}--></label></span>
                    <span><input type="radio" id="ExportTypeXLS" name="ExportType"  class="ExportType" value="xls"/></span>
                    </div>
                    <p class="clear"></p>
                
            </div>
            
        </div>
        
    </div>
</div>