<script type="text/javascript">
    $(document).ready(function(){
        WriteXmlData('<!--{$Data}-->');
    })
</script>

<ul id="DomainMenu">
    <li class="btn btn-default">  <a href="#" onclick="SaveTemplate(false);"> <!--{$word232}--></a></li>
    <li class="btn btn-default"><a href="#" onclick="SaveTemplate(true);" ><!--{$word275}--></a></li>
    <li class="btn btn-default"><a href="#" onclick="SaveTemplate(true); GoToBack(); return false;"><!--{$word771}--></a></li>
    <li class="btn btn-default"><a href="#" onclick="SaveTemplate(false); GoToBack(); return false;"><!--{$word772}--></a></li>
    <li class="btn btn-default"><a href=""><!--{$word233}--></a></li>
    <li class="btn btn-default"><a href="" onclick="DeleteLangVersion(); return false;"><!--{$word886}--></a></li>
    
</ul>
 <div id="detail">
    
    
        <ul class="nav nav-tabs">
            
            <li class="active"> <a href="#tab-1" data-toggle="tab" aria-expanded="true"><!--{$word724}--></a></li>
            <li> <a href="#tab-5"  data-toggle="tab" aria-expanded="true"><!--{$word687}--></a></li>
            <li> <a href="#tab-2" data-toggle="tab" aria-expanded="true"><!--{$word244}--></a></li>
            <li> <a href="#tab-3"  data-toggle="tab" aria-expanded="true"><!--{$word501}--></a></li>
            <li> <a href="#tab-4"  data-toggle="tab" aria-expanded="true"><!--{$word536}--></a></li>
            
            
            
        </ul>
     <div class="tab-content">
        <div id="tab-1" class="tab-pane fade active in">
            <br />
            
             <div id="settingInquery" class="form-horizontal" role="form">
                 <div class="form-group">
                <label for="Name" class="control-label col-sm-2"><!--{$word238}--></label>
                <div class="col-sm-10">
                <input type="text" id="Name" name="Name" class="required form-control" value="<!--{$Name}-->"/>
                </div>
                </div>
                 </div>
            <div id="inquryData" class="form-horizontal" role="form">
                 <div class="form-group">
                     <label for="InquryQuestion" class="control-label col-sm-2"><!--{$word616}--></label>
                <div class="col-sm-10">
                <input type="text" id="InquryQuestion" name="InquryQuestion" class="form-control" value=""/>
                </div>   

                 </div>
                 <div class="form-group">
                     <label for="Answer1" class="control-label col-sm-2"><!--{$word617}--> 1 </label>
                <div class="col-sm-10">
                <input type="text" id="Answer1" name="Answer1" class="form-control" value=""/>
                </div>   

                 </div>
                 <div class="form-group">
                     <label for="Answer2" class="control-label col-sm-2"><!--{$word617}--> 2 </label>
                <div class="col-sm-10">
                <input type="text" id="Answer2" name="Answer2" class="form-control" value=""/>
                </div>   

                 </div>
                 <div class="form-group">
                     <label for="Answer3" class="control-label col-sm-2"><!--{$word617}--> 3 </label>
                <div class="col-sm-10">
                <input type="text" id="Answer3" name="Answer3" class="form-control" value=""/>
                </div>   

                 </div>
                                  <div class="form-group">
                     <label for="Answer4" class="control-label col-sm-2"><!--{$word617}--> 4 </label>
                <div class="col-sm-10">
                <input type="text" id="Answer4" name="Answer4" class="form-control" value=""/>
                </div>   

                 </div>
                            <div class="form-group">
                     <label for="Answer5" class="control-label col-sm-2"><!--{$word617}--> 5 </label>
                <div class="col-sm-10">
                <input type="text" id="Answer5" name="Answer5" class="form-control" value=""/>
                </div>   

                 </div>
                 <div class="form-group">
                     <label for="OtherItem" class="control-label col-sm-2"><!--{$word618}--> </label>
                <div class="col-sm-10">
                <input type="checkbox" id="OtherItem" name="OtherItem" />
                </div>   
                     </div>
                     <div class="form-group">
                     <label for="MoreItem" class="control-label col-sm-2"><!--{$word619}--> </label>
                <div class="col-sm-10">
                <input type="checkbox" id="MoreItem" name="MoreItem" />
                </div>   

                 </div>
                 
            
                <div class="form-group">
                     <label for="OtherText" class="control-label col-sm-2"><!--{$word685}-->  </label>
                <div class="col-sm-10">
                <input type="text" id="OtherText" name="OtherText" class="form-control" value=""/>
                </div>   

                 </div>
                                <div class="form-group">
                     <label for="SendButtonText" class="control-label col-sm-2"><!--{$word686}-->  </label>
                <div class="col-sm-10">
                <input type="text" id="SendButtonText" name="SendButtonText" class="form-control" value=""/>
                </div>   

                 </div>
            </div>
        </div>
            
            
            
            
        
        <div id="tab-2" class="tab-pane fade">
            <br />
            <div id="userSecurity">
             <table class="table table-striped table-bordered table-hover">
                <tr class="header">
                    
                    <th>&nbsp;</th>
                        <th><!--{$word245}--></th>
                        <th><!--{$word246}--></th>
                        <th><!--{$word247}--></th>
                        <th><!--{$word248}--></th>
                        <th><!--{$word249}--></th>
                </tr>
                    <!--{section name=data loop=$GroupList}-->
                    <tr>
                        <td><!--{$GroupList[data].GroupName}--></td>
                        <td><input type="checkbox" id="canRead_<!--{$GroupList[data].Id}-->"  class="canRead" value="<!--{$GroupList[data].Id}-->"  <!--{$GroupList[data].canread_checked}--> /></td>
                        <td><input type="checkbox" id="canWrite_<!--{$GroupList[data].Id}-->"  class="canWrite" value="<!--{$GroupList[data].Id}-->"  <!--{$GroupList[data].canwrite_checked}--> /></td>
                        <td><input type="checkbox" id="canDelete_<!--{$GroupList[data].Id}-->"  class="canDelete" value="<!--{$GroupList[data].Id}-->"  <!--{$GroupList[data].candelete_checked}--> /></td>
                        <td><input type="checkbox" id="canPublish_<!--{$GroupList[data].Id}-->" class="canPublish" value="<!--{$GroupList[data].Id}-->"  <!--{$GroupList[data].canpublish_checked}--> /></td>
                        <td><input type="checkbox" id="canChangePrivileges_<!--{$GroupList[data].Id}-->"  class="canChangePrivileges" value="<!--{$GroupList[data].Id}-->"  <!--{$GroupList[data].canchangeprivileges_checked}--> /></td>
                </tr>
        <!--{/section}--> 
                    
                    </table>        
                    
                
                </div>
                
            </div>
         <div id="tab-3" class="tab-pane fade">
            <br />
            <div class="form-horizontal" role="form">
                            <div class="form-group"><label for="OtherLang" class="control-label col-sm-2"><!--{$word502}--></label>
                    <div class="col-sm-10">
                        <select id="OtherLang" class="form-control">
                        <option value="0">----</option>
                        <!--{section name=data loop=$ItemLangList}-->
                        <option value="<!--{$ItemLangList[data].Id}-->" <!--{$ItemLangList[data].Selected}-->> <!--{$ItemLangList[data].LangName}--></option>
                        <!--{/section}--> 
                </select>
                    
                </div>
            </div>
        </div>
        
        
         
    </div>
         <div id="tab-4" class="tab-pane fade">
            <br /> 
            <table class="table table-striped table-bordered table-hover">
                <tr>
                    <td><!--{$word537}--></td>
                    <td>&nbsp;</td>
                </tr>
                <!--{section name=data loop=$HistoryList}-->
                <tr>
                    <td><!--{$HistoryList[data].Date}--></td>
                    <td><a href="?versionId=<!--{$HistoryList[data].VersionId}-->"><!--{$word538}--></a>
                        </td>
                </tr>
                        <!--{/section}--> 
                
            </table>
        </div>
         <div id="tab-5" class="tab-pane fade">
             <br /> 
             <!--{$Statistic}-->
         </div>
        
        
        
         
    </div>
</div>