<div class="row">
    <div class="col-md-12">
        <ul id="FolderMenu">
            <li class="btn btn-default disabled" id="createObject">
                <xWeb:Component Type="xLink" Controller="WebEdit" View="Detail" Prefix="xadm" Text="word234" OnClick="CreateNewObject('WebEdit','Detail','/xadm','');return false;"/>
            </li>
            <li class="btn btn-default disabled" id="createLink"> 
                <xWeb:Component Type="xLink" Controller="WebEdit" View="Detail" Prefix="xadm" Text="word452" OnClick="LoadLinkDialog();return false;" DataToggle="modal" DataTarget="#LinkDialog"/>
            </li>
            <li class="btn btn-default disabled dn" id="editObject">                 
                <xWeb:Component Type="xLink" Controller="WebEdit" View="Detail" Prefix="xadm" Text="word271" OnClick="EditItem('WebEdit','Detail','/xadm');return false;"/>
            </li>

            <li class="btn btn-default disabled" id="copyObject"> 
                <xWeb:Component Type="xLink" Controller="WebEdit" View="Detail" Prefix="xadm" Text="word453" OnClick="SetCopyMoveAction('copy');return false;" DataToggle="modal" DataTarget="#CopyMoveDialog" />
            </li>
            <li class="btn btn-default disabled" id="moveObject"> 
                <xWeb:Component Type="xLink" Controller="WebEdit" View="Detail" Prefix="xadm" Text="word454" OnClick="SetCopyMoveAction('move');return false;" DataToggle="modal" DataTarget="#CopyMoveDialog" />
            </li>
            <li class="btn btn-default disabled" id="deleteObject"> 
                <xWeb:Component Type="xLink" Controller="WebEdit" View="Detail" Prefix="xadm" Text="word455" OnClick="DeleteDialog();return false;" DataToggle="modal" DataTarget="#DeleteDialog" />
            </li>
        </ul>
    </div>
</div>
<xWeb:Component Type="AdminSearch" ContentType="useritem" />
<xWeb:Component Type="AdminDeleteDialog" ContentType="useritem" />
<xWeb:Component Type="AdminCopyDialog" ContentType="useritem" />




<xWeb:Component Type="AdminLinkDialog" ContentType="useritem" />





<div id="html1">
    <table class="tree" id="folderTree">
        <!--{$tree}-->
    </table>
</div>