<div id="userRegister">
    <div class="form-group">
        <label for="UserName" class="control-label col-md-2">{word745}</label>
        <div class="col-md-9">
             <input type="text" id="UserName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="UserPassword" class="control-label col-md-2">{word746}</label>
        <div class="col-md-9">
            <input type="password" id="UserPassword"  class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="UserPassword2" class="control-label col-md-2">{word748}</label>
        <div class="col-md-9">
            <input type="password" id="UserPassword2"  class="form-control"/>
        </div>
    </div>
    
    <div class="form-group">
        <label for="FirstName" class="control-label col-md-2">{word749}</label>
        <div class="col-md-9">
             <input type="text" id="FirstName" class="form-control" />
        </div>
    </div>
    
    <div class="form-group">
        <label for="LastName" class="control-label col-md-2">{word750}</label>
        <div class="col-md-9">
             <input type="text" id="LastName" class="form-control" />
        </div>
    </div>
        <div class="form-group">
        <label for="Email" class="control-label col-md-2">{word751}</label>
        <div class="col-md-9">
             <input type="text" id="Email" class="form-control" />
        </div>
    </div>
    
    {DomainHtml}
    
    <div class="col-md-12">
        <input type="button" class="btn btn-default" value="{word752}" onclick="UserRegister()" />
    </div>
</div>