<div id="userLogin">
    <div class="form-group">
        <label for="UserName" class="control-label col-md-2">{word745}</label>
        <div class="col-md-9">
             <input type="text" id="UserName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="UserPassword" class="control-label col-md-2">{word746}</label>
        <div class="col-md-9">
            <input type="password" id="UserPassword"  class="form-control"/>
        </div>
    </div>
    
    <div class="col-md-12">
        <input type="button" class="btn btn-default" value="{word747}" onclick="UserLogin()" />
    </div>
</div>