<div id="CleanSettings" class="form-horizontal" role="form">
    <div class="form-group">
        <label for="DeleteContent" class="control-label col-sm-3"><!--{$word642}--></label>
        <div class="col-sm-1">
            <input type="checkbox" id="DeleteContent" class=" col-md-12"/> 
        </div>
    </div>
    <div class="form-group" style="display: none;">
<label for="DeleteContentParentNoexists" class="control-label col-sm-3"><!--{$word643}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteContentParentNoexists" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group"  style="display: none;">
<label for="DeleteContentNoexists" class="control-label col-sm-3"><!--{$word644}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteContentNoexists" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group">

<label for="DeleteUsers" class="control-label col-sm-3"><!--{$word645}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteUsers" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group">

<label for="DeleteUsersGroups" class="control-label col-sm-3"><!--{$word646}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteUsersGroups" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group">

<label for="DeleteWebs" class="control-label col-sm-3"><!--{$word647}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteWebs" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group">

<label for="DeleteLangs" class="control-label col-sm-3"><!--{$word648}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteLangs" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group">

<label for="DeleteAdminLangs" class="control-label col-sm-3"><!--{$word649}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteAdminLangs" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group">

<label for="DeleteWords" class="control-label col-sm-3"><!--{$word650}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteWords" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group">

<label for="DeleteModules" class="control-label col-sm-3"><!--{$word651}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteModules" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group">

<label for="DeleteDomains" class="control-label col-sm-3"><!--{$word652}--></label>
<div class="col-sm-1">
<input type="checkbox" id="DeleteDomains" class=" col-md-12"/> 
</div>
</div>
    <div class="form-group">
        <input type="button" value="<!--{$word653}-->" id="StartClean" class="btn btn-default"/>
    </div>
</div>