

<div id="settingTemplate" class="form-horizontal" role="form">
    <div class="form-group">
                    <label for="ExportContent" class="control-label col-sm-3"><!--{$word322}--></label>
                    <div class="col-sm-1">
                    <input type="checkbox" id="ExportContent" name="ExportContent" class=" col-md-12" /></div>
                </div>
    
    
    <div class="form-group">
        <label for="ExportUser" class="control-label col-sm-3"><!--{$word329}--></label>
        <div class="col-sm-1">
            <input type="checkbox" id="ExportUser" name="ExportUser" class=" col-md-12" /></div>
    </div>
    <div class="form-group">
        <label for="ExportUserGroups" class="control-label col-sm-3"><!--{$word330}--></label>
        <div class="col-sm-1">
            <input type="checkbox" id="ExportUserGroups" name="ExportUserGroups" class=" col-md-12" /></div>
    </div>
    <div class="form-group">
        <label for="ExportWebs" class="control-label col-sm-3"><!--{$word331}--></label>
        <div class="col-sm-1">
            <input type="checkbox" id="ExportWebs" name="ExportWebs" class=" col-md-12" /></div>
    </div>
    
    <div class="form-group">
        <label for="ExportLangs" class="control-label col-sm-3"><!--{$word332}--></label>
        <div class="col-sm-1">
            <input type="checkbox" id="ExportLangs" name="ExportLangs" class=" col-md-12" /></div>
    </div>
<div class="form-group">
                    <label for="ExportAdminLang" class="control-label col-sm-3"><!--{$word333}--></label>
                    <div class="col-sm-1">
                    <input type="checkbox" id="ExportAdminLang" name="ExportAdminLang" class=" col-md-12" /></div>
                </div>
<div class="form-group">
                    <label for="ExportWords" class="control-label col-sm-3"><!--{$word334}--></label>
                    <div class="col-sm-1">
                    <input type="checkbox" id="ExportWords" name="ExportWords" class=" col-md-12" /></div>
                </div>
    <div class="form-group">
                    <label for="ExportModules" class="control-label col-sm-3"><!--{$word335}--></label>
                    <div class="col-sm-1">
                    <input type="checkbox" id="ExportModules" name="ExportModules" class=" col-md-12" /></div>
                </div>
        <div class="form-group">
                    <label for="ExportUserDomains" class="control-label col-sm-3"><!--{$word336}--></label>
                    <div class="col-sm-1">
                    <input type="checkbox" id="ExportUserDomains" name="ExportUserDomains" class=" col-md-12" /></div>
                </div>
    <input type="button" id="StartExport" name="StartExport" class="btn btn-default" Value="<!--{$word337}-->" />
    
    
</div>