.dn{
    display: none !important;
}
.db{
    display: block !important;
}
.fl{
    float:left;
}
.fr{
    float: right;
}
.clear{
    clear: both;
}
.fullWidth
{
    width:100% !important;
}
.center
{
    margin: 0 auto;
    
}
.fn{
    float: none !important;
        
}
.scrollPanel{
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.backStateButton
{
    margin: 20px 0 20px;
    /*text-align:right;*/
}
.langSelect
{
    margin-top: 5px;
}
.langSelectTop
{
    margin-top: -9px;
}
.tree{
    width:100%;
}
.tree tr{
    cursor: pointer !important;
    height: 30px;
}
.tree .selected{
    background-color: #666;
}
.tableError
{
    color:red;
}
#loadingPanel
{
    position: fixed;
    width:100%;
    height:100%;
    background-color: black;
    opacity:0.8;
    z-index:10000000000;
    display:none;
}
.width60
{
    width: 60px !important;
}
.paddingBottom10{
    padding-bottom: 10px;
}
.modal-dialog
{
    z-index: 999999;
}
@media only screen and (max-width: 480px){
  #userSecurity{
    overflow-x:scroll !important;
    
  }
  
  
}

@media only screen and (max-width: 1200px){
  .scrollTable1200
  {
      overflow-x:scroll !important;
  }
  
}
.templateEditorLeftPanel{
    height:400px;
    overflow: auto;
    
}



.morris-hover{position:absolute;z-index:1000}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255,255,255,0.8);border:solid 2px rgba(230,230,230,0.8);font-family:sans-serif;font-size:12px;text-align:center}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0}