<div id="cookies" class="row" style="float: left;width: 100%;text-align: center;text-transform: uppercase;font-size: 16px;font-weight: bold;position: fixed; height:35px;bottom: 0px;background-color: #121116;">
    <div class="infoText col-md-12" style="padding-top:5px">
        {word761}
    <span class="moreinfo {HideMoreLink}">
        <a href="{externalLink}" target="_blank">{word762}</a>
    </span>
    <span class="acceptbutton ">
        <a href="#" onclick="AcceptCookies(); return false;">{word763}</a>
    </span>

</div>