
<div id="home-carousel" class="carousel slide" data-interval="false">
                <ol class="carousel-indicators">
                    {Points}
                </ol>  
                <!--/.carousel-indicators-->

                <div class="carousel-inner" id="{SliderId}">
                    {Slider_item}
                    <!--                  <div class="item" style="background-image: url('/{SliderImage}');" >
                        <div class="carousel-caption" style="color:{TextColor};">
                            <div class="animated bounceInRight" style="color:{TextColor};">
                              	
                                <h2 style="color:{TextColor};">{SliderTitle}</h2>
                                <p style="color:{TextColor};">{SliderText}</p>
                              	
                              	
                            </div>
                        </div>
                    </div>-->
                </div>
                <!--/.carousel-inner-->
                <nav id="nav-arrows" class="nav-arrows hidden-xs hidden-sm visible-md visible-lg">
                    <a class="sl-prev hidden-xs" href="#home-carousel" data-slide="prev">
                        <i class="fa fa-angle-left fa-3x"></i>
                    </a>
                    <a class="sl-next" href="#home-carousel" data-slide="next">
                        <i class="fa fa-angle-right fa-3x"></i>
                    </a>
                </nav>

            </div>
            
<script type="text/javascript">
  	$(document).ready(function(){
      	$( "#{SliderId} .item" ).first().addClass("active");
    });
</script>